.back{
    background: url("../../assets/imgs/bgc.jpg");
}
@font-face{
    font-family: Pacifico;
    src: url('../../assets/fonts/pacifico.woff2');

}
h2{
    font-family: 'Pacifico' !important
}
.blu{
    margin-top: 30%;
}