.back{
    background: url("../../assets/imgs/bgc.jpg");
}
.luck{
    margin-top: 30%;
    margin-left: 10%;
    font-size: 2em;
}
.but{
    margin-top: 60%;
    margin-left: 5%;

}
@font-face{
    font-family: Pacifico;
    src: url('../../assets/fonts/pacifico.woff2');

}
h3{
    font-family: 'Pacifico' !important
}